extends ./layout

block content
  .row
    .col-md-12
      h1
        | A very basic Shop
      
  if items && items.length
    table.table.table-bordered.table-striped
      thead
        th
          | SKU

        th
          | Name  

        th
          | Price    

        th  
          | Action
      tbody
        each item in items
          tr
            td=item.sku
            td=item.name
            td=item.price
            td
              a.m-1.btn.btn-primary(href='/shop/tobasket/' + item.id, role='button')
                | Add to Basket
  else
    p.lead
      | Nothing to see here yet