extends ./layout

block content
  .row
    .col-md-12
      h1
        | Your Basket
      

  if items && items.length > 0
    table.table.table-bordered.table-striped
      thead
        th
          | SKU

        th
          | Name  

        th
          | Price    

        th
          | Quantity   

        th  
          | Action
      tbody
        each item in items
          tr
            td=item.sku
            td=item.name
            td=item.price
            td=item.quantity
            td
              a.m-1.btn.btn-danger(href='/basket/remove/' + item.id, role='button')
                | Remove from Basket


      tfoot
        tr
          td(colspan=5)
            a.m-1.btn.btn-primary.btn-block(href='/basket/buy', role='button')
              | Buy Now        
  else
    p.lead
      | Nothing in here.